<app-header [titulo]="titulo"></app-header>

<ion-content padding>

<!-- Default Progressbar -->
<ion-progress-bar [value]="porcentaje"></ion-progress-bar>

<!-- <ion-progress-bar value="0.5"></ion-progress-bar>

<ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
<ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>

<ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
<ion-progress-bar type="indeterminate"></ion-progress-bar>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>   -->
<ion-list>
  <ion-item>
    <ion-range
      min="1" max="100"
      dualKnobs="true" 
      pin="true"
      color="tertiary"
      (ionChange)="rangeChange($event)">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-item>
</ion-list>

</ion-content>
